.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__name
        %div shimo
      .side-bar__user-name__box__icon
        = link_to "#" do
          %i.far.fa-edit
        = link_to "#" do
          %i.fas.fa-cog
  .side-bar__group-list
    = link_to "#" do
      .group
        .group-name
          グループA
        .group-text
          こんにちは
    = link_to "#" do
      .group
        .group-name
          グループB
        .group-text
          こんばんは