* {
  box-sizing: border-box;
}

.wrapper {
   display: flex;
}

.side-bar {
   height: 100vh;
   width: 300px;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  &__box {
    height: 20px;
    width: 260px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
  &__name {
    color: $color1;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
   }
  &__icon {
    a {
      color: $color1;
      text-decoration: none;
     }
  }
 }
}

&__group-list {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0px;
  overflow: scroll;
  a {
    text-decoration: none;
  }
  .group {
    margin-bottom: 40px;
    color: $color1;
    &-name {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &-text {
      font-size: 11px;
    }
   }
  }
}


.chat-main {
   width: calc(100vw - 300px);
  &__group-info {
    background-color: $color1;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0px 40px;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
  &__left-box {
    margin-top: 35px;
  &__current-group {
    margin-bottom: 15px;
    color: #333333;
    font-size: 20px;
  }
  &__current-member {
    display: flex;
    color: #999999;
    font-size: 12px;
  }
 }
  &__edit-btn {
    font-size: 16px;
    border: solid 1px $color2;
    height: 40px;
    margin-top: 28px;
    padding: 0px 20px;
    line-height: 40px;
  a {
    color: $color2;
    text-decoration: none;
  }
 }

}
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 0px 0px 40px;
    overflow: scroll;
    .chat-main__name-date {
      display: flex;
    &__name {
      color: #333333;
      font-size: 16px;
      font-weight: bold;
     }
    &__date {
      margin-left: 10px;
      font-size: 12px;
      color: #999999;
     }
    }
    &__text {
      color: #434A54;
      font-size: 14px;
      margin: 12px 0px 46px;
    }

  }

&__message-form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  &__input-box {
    position: relative;
  }
  .input-text {
    width: 100%;
    height: 50px;
    padding: 0px 40px 0px 10px;
    color: #434a54;
    border-style: none;
  }
  .input-image {
    position: absolute;
    top: 10px;
    right:10px;
    cursor: pointer;
    font-size: 1.3rem;
  .input-file {
    display: none;
  }
  }  

  .submit-btn {
    padding: 0px 30px;
    height: 50px;
    background-color: $color2;
    margin-left: 15px;
    width: 100px;
    color: $color1;
    cursor: pointer;
  }
 }
}